<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sqsoft.dao.UserDao">

	<resultMap id="BaseResultMap" type="User">
		<constructor>
			<idArg column="uid" jdbcType="INTEGER" javaType="Integer" />
			<arg column="username" jdbcType="VARCHAR" javaType="String" />
			<arg column="password" jdbcType="VARCHAR" javaType="String" />
		</constructor>
	</resultMap>

	<resultMap id="userMap" type="User">
		<id property="uid" column="uid" />
		<result property="username" column="username" />
		<result property="password" column="password" />
		<collection property="roles" ofType="Role">
			<id property="rid" column="rid" />
			<result property="rname" column="rname" />
			<collection property="modules" ofType="Module">
				<id property="mid" column="mid" />
				<result property="mname" column="mname" />
			</collection>
		</collection>
	</resultMap>

	<sql id="Base_Column_List">
		uid, username, password
	</sql>

	<select id="selectByUid" resultMap="BaseResultMap" parameterType="Integer">
		select
		<include refid="Base_Column_List" />
		from user
		where uid = #{uid}
	</select>
	
	<select id="selectByName" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
		where username = #{xxx}
	</select>
	
</mapper>
