<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <properties resource="db.properties"/>

    <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!-- 		<setting name="autoMappingBehavior" value="FULL" /> -->
    </settings>

    <typeAliases>
        <!-- 定义别名可以在实体类上注解 @Alisa -->
        <!-- 默认是类名小写 -->
        <package name="com.ynan.main2.entity"/>

        <!--
        <typeAlias alias="Mail" type="com.sqsoft.entity.Mail" />
        -->
    </typeAliases>

    <!--    <plugins>-->
    <!--        &lt;!&ndash;<plugin interceptor="com.epichust.plugin.MySqlPagingPlugin"></plugin>&ndash;&gt;-->
    <!--        <plugin interceptor="com.epichust.plugin.CloseOneLevelCachePlugin"></plugin>-->
    <!--    </plugins>-->

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driveClass}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <databaseIdProvider type="DB_VENDOR">
        <property name="SQL Server" value="sqlserver"/>
        <property name="DB2" value="db2"/>
        <property name="Oracle" value="oracle"/>
        <property name="MySQL" value="mysql"/>
    </databaseIdProvider>

    <mappers>
        <mapper resource="mapper/UserMapper.xml"/>
        <!--<package name="com.sqsoft.dao"/>-->
    </mappers>

</configuration>
