<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd ">

    <mvc:annotation-driven>
        <mvc:argument-resolvers>
            <ref bean="myArgumentsResolver" />
        </mvc:argument-resolvers>
    </mvc:annotation-driven>

    <!--<mvc:resources location="/js/,/css/" mapping="/js/**"/>
    <mvc:resources location="/css/" mapping="/css/**"/>-->

    <!--    <mvc:default-servlet-handler default-servlet-name="default" />-->

    <bean id="myArgumentsResolver" class="com.sqsoft.service.MyArgumentsResolver"/>

    <context:component-scan base-package="com.sqsoft" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:include-filter type="annotation"
                                expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!-- 	<aop:aspectj-autoproxy></aop:aspectj-autoproxy> -->

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/hello"/>
            <bean class="com.sqsoft.interceptor.HandlerInterceptor3"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/hello"/>
            <bean class="com.sqsoft.interceptor.HandlerInterceptor1"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/hello"/>
            <bean class="com.sqsoft.interceptor.HandlerInterceptor2"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- Spring3.1之前的注解 HandlerMapping -->
    <!-- <bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"
        /> -->
    <!-- <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"
        /> -->

    <!--Spring3.1开始的注解 HandlerMapping -->
    <!-- <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"
        /> -->
    <!-- <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"
        /> -->


    <!-- 以下为 spring2.5之前配置文件的方式 spring2.5以后为注解方式 -->
    <!-- <bean name="/hello" class="com.sqsoft.controller.HelloWorldController"></bean> -->

    <!-- 	<bean id="handlerInterceptor1" class="com.sqsoft.interceptor.HandlerInterceptor1" /> -->
    <!-- 	<bean id="handlerInterceptor2" class="com.sqsoft.interceptor.HandlerInterceptor2" /> -->

    <!-- 	<bean -->
    <!-- 		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"> -->
    <!-- 		<property name="interceptors"> -->
    <!-- 			<list> -->
    <!-- 				<ref bean="handlerInterceptor1" /> -->
    <!-- 				<ref bean="handlerInterceptor2" /> -->
    <!-- 			</list> -->
    <!-- 		</property> -->
    <!-- 	</bean> -->

</beans>