<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ynan.dao.OrderMapper">



<!--    <select id="queryOrderInfoByOrderId" resultType="com.ynan.entity.OrderInfo">-->
<!--        select * from t_order_0000-->
<!--    </select>-->

</mapper>